body { /* fundo geral da página */
    background-color: #f5f5f5;
    background: url(/imagensandArquivos/fundo-de-corredores-minimalistas_23-2149745316.avif) no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#formar { /* estilo da tabela de formação */
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2; /* fundo claro da tabela */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

#formar th { /* cabeçalho da tabela */
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#formar td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #111;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

button { /* estilo dos botões em todas as páginas */
    padding: 18px;
    border: none;
    background:linear-gradient(45deg, rgba(0, 0, 0, 0.300), black);
    color:rgb(136, 158, 153);
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    transform: translateY(-3px);
    scale: 1.05;
    background-color: #ffffff;
}